body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 20px; */
  background-color: #f4f4f4;
}

.checkout-container {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  gap: 20px;
}

.left-section {
  flex: 1;
  min-width: 60%;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.right-section {
  width: 30%;
  padding: 10px;
  line-height: 2.5;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  height: fit-content;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.row-group {
  display: flex;
  gap: 20px;
}

.row-group .form-group.half {
  flex: 1;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 14px 10px 14px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  background: none;
}

.form-group label {
  position: absolute;
  left: 12px;
  top: 30%;
  transform: translateY(-50%);
  background: #fff;
  color: #999;
  padding: 0 4px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label,
.form-group textarea:focus+label,
.form-group textarea:not(:placeholder-shown)+label {
  top: -10px;
  font-size: 13px;
  color: #1e1a5e;
  background: #fff;
}


.btn-confirm {
  background-color: #1e1a5e;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.btn-confirm:hover {
  background-color: #292679;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.summary-row.total {
  font-weight: bold;
  font-size: 18px;
  color: blue;
}

label {
  display: block;
  margin: 10px 0 5px;
}

.radio {
  margin-top: 10px;
}

.checkout-product {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}


.checkout-product img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.product-details {
  justify-content: space-between;
  flex: 1;
  display: flex;

}

.product-title {
  width: 40%;
  width: 40%;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;

}

.product-meta {
  margin-left: 10px;
  flex: 0.7;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.product-meta .price {
  color: #1e1a5e;
  font-weight: bold;
}

@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
    padding: 10px;
  }

  .left-section,
  .right-section {
    width: 100%;
    padding: 15px;
  }

  .row-group {
    flex-direction: column;
  }

  .product-details {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .product-title {
    font-size: 13px;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    color: #333;

    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    line-height: 1.3em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;


    white-space: normal;
    /* Cho phép xuống dòng mềm */

  }

  .product-meta {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 10px;
  }

  .summary-row {
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
  }

  .btn-confirm {
    font-size: 15px;
    padding: 10px;
  }
}