/* Layout tổng: padding nhỏ hơn, nội dung căn giữa */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e9f3fc;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

p,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

.breadcrumb {
  font-size: 16px;
  color: #444;
  margin-left: 60px;
}

.breadcrumb a {
  color: #1e1a5e;
  text-decoration: none;
  font-weight: 500;
}

.dropdown {
  position: relative;
}

.dropdown-toggle span {
  transition: transform 0.3s ease;
}

.menu-dropdown.open .dropdown-toggle span {
  transform: rotate(180deg);
}

.dropdown-trigger {
  cursor: pointer;
  padding-bottom: 20px;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 300px;
  z-index: 999;
  top: 200%;
  left: 40%;
  transform: translateX(-50%);
  padding: 5px 0;
  border: 0.7px dashed black;
}

.dropdown-arrow {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid white;
}

.dropdown-content a {
  display: block;
  padding: 5px 10px;
  color: black !important;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(227, 225, 225);
  color: rgb(247, 185, 69) !important;
}

.sticky_menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #211f5e;
  padding: 20px 0;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding-right: 70px;
}


/* .title {
  font-size: 30px;
  font-weight: bold;
  color: #1e1a5e;
  
  margin-top: 50px;
  margin-left: 440px;
  margin-bottom: 10px;
} */


.banner_slide {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
  opacity: 0;
  transition: opacity 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.slide.active {
  display: block;
  opacity: 1;
  position: relative;
}

/* Nút bấm */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Chấm tròn */
.dots {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: 5;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.dot.active,
.dot:hover {
  background-color: white;
}

.mission_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  background-color: #f9f9f9;
  background: linear-gradient(160deg, #f1f4ef 0%, white 40%, #b3b19e 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/background-mission.png);
}


.mission_image img {
  max-width: 700px;
  height: auto;
  border-radius: 12px;

  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.mission_text p {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  max-width: 400px;
}

.ingredient_img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: -30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 2, 0, 0.1);


}



.ingredient {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/background_ingredient.png);
}

.ingredient-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1200px;


}

/* --- Item 1: Hình phải, nội dung trái --- */
.ingredient-item-1 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 30px;
  margin-right: 30px;
  margin-top: 60px;
  text-align: right;
}

/* --- Item 2: Hình phải, nội dung trái --- */
.ingredient-item-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
  margin-right: 30px;
}


/* --- Item 3: Hình trái --- */
.ingredient-item-3 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 30px;
  text-align: right;
  margin-top: 80px;
  margin-right: 20px;

}

/* --- Item 4: Hình phải --- */
.ingredient-item-4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  margin-left: 20px;

}

/* --- Item 5: Hình trái --- */
.ingredient-item-5 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 30px;
  margin-top: 50px;
  text-align: right;
  margin-left: 20px;
}

/* --- Item 6: Hình phải --- */
.ingredient-item-6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

/* --- Ảnh --- */
.ingredient-item-1 img,
.ingredient-item-2 img,
.ingredient-item-3 img,
.ingredient-item-4 img,
.ingredient-item-5 img,
.ingredient-item-6 img {
  flex-direction: column !important;
  width: 120px;
  height: 120px;

  object-fit: cover;

}

/* --- Nội dung --- */
.ingredient .content {
  flex: 1;
}

.ingredient .content h4 {
  margin: 0 0 8px;
  font-size: 18px;
  color: #333;
}

.ingredient .content p {
  margin: 0;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.combo_item,
.active_item {
  width: 100%;
  max-width: 320px;
  margin: 20px auto;
  font-size: 18px;
}

.ingredient img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.uses {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}


.uses-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px 10px;
  align-items: flex-start;

}

.uses_text {
  flex-wrap: wrap;
  font-size: 16px;
  color: #333;
  line-height: 1.7;
  margin-top: 30px;
}

.uses_text h4 {
  flex-wrap: wrap;
  font-size: 20px;
  color: #007f6d;
  margin-bottom: 16px;
  font-weight: bold;

}

.uses_text button {
  background-color: rgba(2, 2, 70, 0.874);
  border-radius: 10px;
  font-size: 20px;
  width: 150px;
  height: 40px;
  border: none;
  color: white;
  margin-left: 60px;
}

.uses_text button:hover {
  cursor: pointer;
}

.img_uses img {
  margin-top: 100px;
  width: 100%;
  /* max-width: 350px; */
  border-radius: 12px;
  display: block;

}

.img_uses img {
  animation: floatUpDown 3s ease-in-out infinite;
}

.user_content {
  max-width: 100%;
  text-align: center;
  font-size: 20px;

}

.user_content p {
  font-size: 25px;
}

.user_img {
  display: flex;
  justify-content: center;
}

.user_img img {
  width: 100%;
  max-width: 400px;
  padding: 5px;
  border-radius: 10px;
}

.combo {
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  padding: 35px;
  margin: 40px auto;
  max-width: 1100px;
  background-color: #f2f2f7;
  transition: opacity 0.4s ease;
  position: relative;
}

.combo_content {
  text-align: center;
  max-width: 100%;
  font-size: 20px;

}

.combo_item {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 40px 6px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.combo_item:hover {
  transform: translateY(-8px) scale(1.05);

  cursor: pointer;
}

.combo_item img {
  width: 100%;
  margin-bottom: 20px;
}

.combo_item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.swiper-slide a {
  text-decoration: none;
  color: black;

}

.combo_item p {
  color: orange;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.combo_item span,
.combo_item i {
  padding-right: 10px;
  font-size: 20px;
  color: dodgerblue;
}

.swiper-button-prev,
.swiper-button-next {

  z-index: 300;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgb(141, 177, 232);
}


.active_session {
  background-color: #e9f3fc;

}

.active_item:hover {
  transform: translateY(-8px) scale(1.05);

  cursor: pointer;
}

.active_item img {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.swiper_active {
  width: 1200px;
  margin: 30px auto;

}

.active_item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.swiper-slide {
  width: auto;
  flex-shrink: 0;

  padding: 10px;
}

.active_item p {
  color: orange;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.active_item span,
.active_item i {
  padding-right: 5px;
  font-size: 20px;
  color: dodgerblue;
}

.active_content {
  margin: 20px;
}


.top_row {
  display: flex;
  align-items: center;
  gap: 10px;

}

.top_row img {
  width: 80px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #004085;
}

.desc {
  margin: 20px;
  font-size: 18px;
  color: #003366;
}

.btn {
  display: inline-block;
  background-color: #005bbb;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #004a99;
}

.line-qr-box {
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 100;
  width: 80px;
  text-align: center;
}

.line-qr-box:hover {
  cursor: pointer;
}

/* QR image */
.qr-wrapper {
  position: relative;
  width: 100px;
  margin: 0 auto;
  left: 20%;
}

.qr-wrapper img {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

}

/* Label dưới QR */
.line-label {
  border: 2px solid #021635;
  font-size: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  margin-top: -25px;
  transform: translateX(-50%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.line-label:hover {
  background-color: #1a5bbd;
  color: white;
}

.floating-btn {
  width: 50px;
  height: 50px;
  background-color: #0d47a1;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0;
  margin-right: -25px;
}

.line-qr-box a {
  text-decoration: none;
}

.floating-btn:hover {
  background-color: #06234e;
}

.menu-toggle {
  position: fixed;

  left: 20px;
  z-index: 1001;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 300px;
  z-index: 999;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0;
  border: 0.7px dashed black;
}

.dropdown:hover .dropdown-content {
  display: block;
  /* Chỉ hover mới hiện ở desktop */
}

/* Overlay mờ bên ngoài menu */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
}

/* Slide menu từ trái */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: white;
  z-index: 1002;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

/* Khi menu mở */
.side-menu.show {
  transform: translateX(0);
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  max-height: 40px;
}

.close-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.menu a {
  text-decoration: none;
  padding: 12px 0;
  color: #212121;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

/* Dropdown */
.menu-dropdown {
  margin-top: 10px;
}

.dropdown-toggle {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding: 12px 0;
  width: 100%;
  cursor: pointer;
}

.dropdown-toggle span {
  float: right;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  padding-left: 10px;
}

.dropdown-content a {
  font-weight: normal;
  font-size: 15px;
  padding: 8px 0;
  color: #444;
}

.menu-dropdown.open .dropdown-content {
  display: flex;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}


.uses-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.uses-container>div {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;

}

.uses-container img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  padding: 5px;

}

.uses_content h4 {

  margin: 0 0 6px;
  font-size: 16px;
  color: #222;
}

.uses_content p {
  font-size: 14px;
  color: black;
  margin: 0;
}

.ingredient img {
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
  border-radius: 50%;
  animation: pulseZoom 4s ease-in-out infinite;
  transition: box-shadow 0.3s ease;
}

.menu-toggle {
  display: none;
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  height: fit-content;
  padding: 10px;
}

/* Desktop giữ nguyên */
.menu {
  display: flex;
  gap: 20px;
}




@keyframes pulseZoom {

  0%,
  100% {
    transform: scale(1);
    /* bình thường */
  }

  50% {
    transform: scale(1.1);
    /* phóng to nhẹ */
  }
}


/* ---------- Responsive cho Tablet & Mobile ---------- */
@media (max-width: 1024px) {
  .uses-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .img_uses {
    grid-column: span 2;
    text-align: center;
  }
}

/* ---------- Responsive cho Mobile ---------- */
@media (max-width: 768px) {

  html,
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }

  .container {
    padding: 0 12px;
  }

  .breadcrumb {
    margin-left: 20px;
    font-size: 14px;
  }

  .banner_slide {
    max-height: 300px;
  }

  .prev,
  .next {
    font-size: 15px;
    padding: 6px 10px;
  }

  .dots {
    bottom: 10px;
  }

  .dropdown {
    position: relative;
    width: 100%;
  }

  .dropdown-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    color: white;
  }

  .dropdown-content {
    display: none;
    position: static;
    background-color: #2d2b5f;
    border: none;
    padding-left: 20px;
  }

  .dropdown-content a {
    color: white;
    padding: 10px 0;
    display: block;
    text-align: left;
  }


  .menu-dropdown.open .dropdown-content {
    display: flex;
  }

  .dropdown-arrow {
    display: none;
    /* Không cần mũi tên trên mobile */
  }

  .mission_section {
    padding: 30px 10px;
    flex-direction: column;
  }

  .mission_image img {
    max-width: 100%;
  }

  .mission_text p {
    max-width: 100%;
    font-size: 16px;
  }

  .ingredient {
    padding: 20px 10px;
  }

  .ingredient-column {
    gap: 20px;
  }

  .ingredient-item-1,
  .ingredient-item-2,
  .ingredient-item-3,
  .ingredient-item-4,
  .ingredient-item-5,
  .ingredient-item-6 {
    flex-direction: column !important;
    align-items: center;
    text-align: center !important;
    margin: 0 auto;
  }

  .ingredient-item-1 img,
  .ingredient-item-2 img,
  .ingredient-item-3 img,
  .ingredient-item-4 img,
  .ingredient-item-5 img,
  .ingredient-item-6 img {
    width: 100px;
    height: 100px;
  }

  .uses-wrapper {
    grid-template-columns: 1fr;
    margin: 0 10px;
  }

  .img_uses img {
    margin-top: 40px;
  }

  .combo {
    padding: 20px;
    margin: 20px 10px;
  }

  .combo_item {
    margin: 20px auto;
    font-size: 18px;
    padding: 16px;
  }



  .active_item img {
    height: auto;
  }

  .swiper_active {
    width: 90%;
    margin: 20px auto;
  }

  .user_img img {
    max-width: 90%;
  }

  .top_row {
    flex-direction: column;
  }

  .top_row img {
    width: 60px;
  }

  .title {
    font-size: 24px;
    text-align: center;
  }

  .desc {
    font-size: 16px;
    text-align: center;
  }

  .uses-container>div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .uses-container img {
    margin-bottom: 10px;
  }

  .line-qr-box {
    right: 20px;
    bottom: 80px;
    width: 60px;
  }

  .qr-wrapper {
    width: 80px;
  }

  .line-label {
    font-size: 8px;
    padding: 4px 8px;
  }

  .floating-btn {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }


  /* Mặc định ẩn toàn bộ menu wrapper */

  #mainMenuWrapper {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    text-align: left;
    z-index: 999;
    height: fit-content;

  }

  #mainMenuWrapper.show {
    display: flex;

  }

  .menu {
    display: flex;
    flex-direction: column;
    margin: 10px;

  }

  .menu a {
    padding: 12px 0;

    font-size: 18px;
    color: black;
  }

  .menu-toggle {
    display: block;
    position: absolute;

    left: 0;
    z-index: 1001;
    background: transparent;
    color: black;
    border: none;
    font-size: 28px;
  }

  /* Dropdown mobile (menu mở bên trái) */
  .menu-dropdown {
    width: 100%;
  }

  .dropdown-toggle {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    padding: 12px 20px;
    width: 100%;
    color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  /* Mũi tên xoay */
  .dropdown-toggle span {
    transition: transform 0.3s ease;
  }

  .menu-dropdown.open .dropdown-toggle span {
    transform: rotate(180deg);
  }

  /* Nội dung dropdown */
  .dropdown-content {
    display: none;
    position: relative;
    /* Thay vì static */
    background-color: #d0cff5;
    border: none;
    padding: 10px;

    z-index: 9999;
    /* Đảm bảo nằm trên các phần khác */
    margin: 0 auto;
    /* Căn giữa theo chiều ngang */
    width: 80%;
    /* Đảm bảo không quá rộng */

  }


  .dropdown-content a {
    color: white;
    padding: 12px 20px;
    display: block;
    text-align: left;
    /* Căn giữa từng dòng */
  }


  /* Khi mở */
  .menu-dropdown.open .dropdown-content {
    display: flex;
  }

  /* Các mục trong dropdown */
  .dropdown-content a {
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f7b945;
  }

}