.patical {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6em;


}

.patical h2 {
    margin-bottom: 10px;
    font-size: 16px;
}

.patical img {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
    
}

.patical p {
    margin-bottom: 20px;
    font-size: 15px;
    margin-top:10px ;
}

.patical h3 {
    
    font-size: 18px;
    margin-bottom: 10px;
}
.patical h5{
    font-size: 15px;
}
.patical ul {
    margin-left: 2em;
    margin-bottom: 10px;
}
.patical h4{
    font-style: italic;
}
.custom-ol {
  counter-reset: item;
  list-style: none;
}

.custom-ol > li {
  counter-increment: item;
  margin-bottom: 1em;
}

.custom-ol > li::before {
  content: "3." counter(item) ". ";
  font-weight: bold;
 
}
.custom-ol-end ol,li{
    margin-left: 10px;
    font-size: 15px;
    
}

